<div class="list-box">
  <div class="search clear">
    <div>
      <div class="chaxun">
        <span>姓名</span>
        <input appTrim nz-input placeholder="请输入姓名" [(ngModel)]="search.name" (keyup.enter)="getList()">
      </div>
      <div class="chaxun">
        <span>ID</span>
        <input appTrim nz-input placeholder="请输入ID" [(ngModel)]="search.id" (keyup.enter)="getList()">
      </div>
      <div class="chaxun">
        <button nz-button nzType="chaxun" (click)="getList()">查询</button>
      </div>
    </div>
  </div>
  <div class="table-head">
    <div class="head-h2">
      <span>文章</span>
    </div>
    <div class="btn-box">
      <button nz-button nzType="tianjia" routerLink="./add">写文章</button>
    </div>
  </div>
  <div class="table-box">
    <nz-table #basicTable [nzData]="list" [nzFrontPagination]="false" [nzPageIndex]="pageNum" [nzTotal]="totalCount"
      [nzPageSize]="pageSize" (nzPageIndexChange)="getList($event)">
      <thead>
        <tr>
          <th>序号</th>
          <th>标题</th>
          <th>类型</th>
          <th>创建时间</th>
          <th>评论</th>
          <th>访问</th>
          <th>编辑方式</th>
          <th>来源</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of list let i= index">
          <td>{{pageSize*(pageNum-1)+i+1}}</td>
          <td>{{data.title}}</td>
          <td>{{data.typeName}}</td>
          <td>{{data.createTime | date:'yyyy/MM/dd'}}</td>
          <td>{{data.reviewSum}}</td>
          <td>{{data.seeSum}}</td>
          <td>{{data.source}}</td>
          <td>{{data.markdown|codeName}}</td>
          <td>
            <nz-tag [nzColor]="data.state!=1105?'green':'#2db7f5'">{{data.state|codeName}}</nz-tag>
          </td>
          <td>
            <button nz-button (click)="setState(data)">{{data.state!=1105?'发布':'下架'}}</button>
            &nbsp;&nbsp;
            <button nz-button (click)="goAdd(data)">编辑</button>
            &nbsp;&nbsp;
            <button nz-popconfirm nz-button nzTitle="您确定要删除吗?" (nzOnConfirm)="del(data.id)" (nzOnCancel)="cancel()">删除</button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>