.news-add-cpt{
  .form-box{ position: relative;
    /deep/ form {
      nz-form-item{
        nz-form-label{ display: inline;}
        nz-form-control{ display: inline-block; min-width: 120px;}
      }
      .ant-form-item{margin-bottom: 10px;}
    }
    /deep/.has-error .ant-form-explain{ position: absolute; left: 0;}
  }
  .saveBtn{ position: absolute; right: 20px; top:20px; z-index: 1999;
    button{ margin: 0 10px;}
  }
}