.news-add-cpt{
  .form-box{ position: relative;
    /deep/ form {
      nz-form-item{
        nz-form-label{ display: inline;}
        nz-form-control{ display: inline-block; min-width: 120px;}
      }
      .ant-form-item{margin-bottom: 10px;}
    }
    /deep/.has-error .ant-form-explain{ position: absolute; left: 0;}
  }
  .saveBtn{ position: absolute; right: 20px; top:20px; z-index: 1999;
    button{ margin: 0 10px;}
  }
  app-ueditor{
    /deep/iframe{
      h1 {font-size: 36px}
      h2 {font-size: 32px}
      h3 {font-size: 30px}
      h4 {font-size: 28px}
      h5 {font-size: 26px}
      h6 {font-size: 24px}
    }
  }
}