<div class="add-box">
  <div class="heard">
    <div>
      <nz-breadcrumb>
        <nz-breadcrumb-item>
          <a [routerLink]="['../']">vpn管理</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <span class="span">{{title}}</span>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
    </div>
  </div>
  <div class="form-box">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="vpsId" nzRequired>vps</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-select id="vpsId" formControlName="vpsId" placeholder="vpsId" nzAllowClear>
            <nz-option *ngFor="let item of vpsList" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="validateForm.get('vpsId').dirty && validateForm.get('vpsId').errors">Please input id!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>名称</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input appTrim nz-input id="name" formControlName="name" placeholder="name">
          <nz-form-explain *ngIf="validateForm.get('name').dirty && validateForm.get('name').errors">填写分组</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>密码</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input appTrim nz-input id="password" formControlName="password" placeholder="password">
          <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">填写分组</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="ip" nzRequired>Ip</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input appTrim nz-input id="ip" formControlName="ip" placeholder="ip">
          <nz-form-explain *ngIf="validateForm.get('ip').dirty && validateForm.get('ip').errors">填写分组</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-row style="margin-bottom:8px;">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary">保存</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>