<div class="list-box">
  <div class="search clear">
    <div>
      <div class="chaxun">
        <span>姓名</span>
        <input appTrim nz-input placeholder="请输入姓名" [(ngModel)]="search.name" (keyup.enter)="getList()">
      </div>
      <div class="chaxun">
        <span>ID</span>
        <input appTrim nz-input placeholder="请输入ID" [(ngModel)]="search.id" (keyup.enter)="getList()">
      </div>
      <div class="chaxun">
        <button nz-button nzType="chaxun" (click)="getList()">查询</button>
      </div>
    </div>
  </div>
  <div class="table-head">
    <div class="head-h2">
      <span>vpn管理</span>
    </div>
    <div class="btn-box">
      <button nz-button nzType="tianjia" routerLink="./add">添加vpn</button>
    </div>
  </div>

  <div class="table-box">
    <nz-table #basicTable [nzData]="list" [nzFrontPagination]="false" [nzPageIndex]="pageNum" [nzTotal]="totalCount" [nzPageSize]="pageSize"
      (nzPageIndexChange)="getList($event)">
      <thead>
        <tr>
          <th>序号</th>
          <th>名称</th>
          <th>IP</th>
          <th>创建时间</th>
          <th>锁定到时间</th>
          <th>vps</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of list let i= index">
          <td>{{pageSize*(pageNum-1)+i+1}}</td>
          <td>{{data.name}}</td>
          <td>{{data.ip}}</td>
          <td>{{data.createTime | date :'yyyy-MM-dd hh:mm:ss'}}</td>
          <td>{{data.lockTime | date :'yyyy-MM-dd hh:mm:ss'}}</td>
          <td>{{data.vpsId}}</td>
          <td>{{data.state | codeName}}</td>
          <td>
            <button nz-button (click)="goAdd(data.id)">编辑</button>
            &nbsp;&nbsp;
            <button nz-popconfirm nz-button nzTitle="您确定要删除吗?" (nzOnConfirm)="del(data.id)" (nzOnCancel)="cancel()">删除</button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>