<div class="add-box">
  <div class="heard">
    <div>
      <nz-breadcrumb>
        <nz-breadcrumb-item>
          <a [routerLink]="['../']">用户列表</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <span class="span">添加用户</span>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
    </div>
  </div>
  <div class="form-box">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="parentId" nzRequired>选择公司</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-select id="parentId" formControlName="parentId" nzPlaceHolder="选择公司">
            <nz-option *ngFor="let item of parentIdList" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="validateForm.get('parentId').dirty && validateForm.get('parentId').errors">请选择公司!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="loginName" nzRequired>登录名</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input appTrim nz-input id="loginName" formControlName="loginName" placeholder="登录名">
          <nz-form-explain *ngIf="validateForm.get('loginName').dirty && validateForm.get('loginName').errors">请输入登录名!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">邮箱</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input appTrim nz-input formControlName="email" id="email">
          <nz-form-explain *ngIf="validateForm.get('email').dirty && validateForm.get('email').errors">请输入正确邮件!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phone" nzRequired>手机号</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="validateForm.controls['phone']">
          <input appTrim formControlName="phone" id="'phone'" nz-input>
          <nz-form-explain *ngIf="validateForm.get('phone').dirty && validateForm.get('phone').errors">Please input your
            phone number!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>密码</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input appTrim nz-input type="password" id="password" formControlName="password" (ngModelChange)="updateConfirmValidator()">
          <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">请收入密码!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>重复密码</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input appTrim nz-input type="password" formControlName="checkPassword" id="checkPassword">
          <nz-form-explain *ngIf="validateForm.get('checkPassword').dirty && validateForm.get('checkPassword').errors">
            <ng-container *ngIf="validateForm.get('checkPassword').hasError('required')">
              Please confirm your password!
            </ng-container>
            <ng-container *ngIf="validateForm.get('checkPassword').hasError('confirm')">
              Two passwords that you enter is inconsistent!
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>
          <span>
            姓名
          </span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input appTrim nz-input id="name" formControlName="name">
          <nz-form-explain *ngIf="validateForm.get('name').dirty && validateForm.get('name').errors">Please input your name!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>


      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="lcode" nzRequired>用户类型</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-checkbox-group formControlName='lcode' [(ngModel)]="checkOptionsOne"></nz-checkbox-group>
          <nz-form-explain *ngIf="validateForm.get('lcode').dirty && validateForm.get('lcode').errors">
            {{validateForm.getError('lcode','lcode')?.info}}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="img" nzRequired>头像</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <app-cropper-img formControlName='img' id='img' [boxStyle]="{width:100,height:100}">
          </app-cropper-img>
          <nz-form-explain *ngIf="validateForm.get('img').dirty && validateForm.get('img').errors">请添加头像</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row style="margin-bottom:8px;">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary">保存</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>