<div class="user-add-cpp">
    <div class="Breadcrumb">
      <div>
        <nz-breadcrumb>
          <nz-breadcrumb-item>
            <a [routerLink]="['/admin/tools']">码表管理</a>
          </nz-breadcrumb-item>
          <nz-breadcrumb-item>
            <span class="span">编辑码表</span>
          </nz-breadcrumb-item>
        </nz-breadcrumb>
      </div>
    </div>
    <div class="shangkuang">
        <span>编辑码表</span>
    </div>
    <div class="waikuang">
        <div class="user-add">
          <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="groups" nzRequired>分组</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24">
                <input appTrim nz-input id="groups" formControlName="groups" placeholder="groups">
                <nz-form-explain *ngIf="validateForm.get('groups').dirty && validateForm.get('groups').errors">填写分组</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="code" nzRequired>码值</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24">
                <input appTrim nz-input id="cdoe" formControlName="code" placeholder="code">
                <nz-form-explain *ngIf="validateForm.get('code').dirty && validateForm.get('code').errors">Please input id!</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>
                <span>
                    吗名
                </span>
              </nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24">
                <input appTrim nz-input id="name" formControlName="name">
                <nz-form-explain *ngIf="validateForm.get('name').dirty && validateForm.get('name').errors">Please input your name!</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="description">描述</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24">
                <input appTrim nz-input formControlName="description" id="description">
                <nz-form-explain *ngIf="validateForm.get('description').dirty && validateForm.get('description').errors">The input is not valid description!</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
    
            <nz-form-item nz-row style="margin-bottom:8px;">
              <nz-form-control [nzSpan]="14" [nzOffset]="6">
                <button nz-button nzType="primary">保存</button>
              </nz-form-control>
            </nz-form-item>
          </form>
        </div>
      </div>
  </div>