<div class="add-box relation-vpn-ctr">
  <div class="heard">
    <div>
      <nz-breadcrumb>
        <nz-breadcrumb-item>
          <a [routerLink]="['../../']">用户管理</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <span class="span">用户vpn</span>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="right">
      </div>
    </div>
  </div>
  <div class="main-box">
    <div class="tb">
        <nz-table #basicTable [nzData]="userVpnList" [nzShowPagination]=false>
        <thead>
          <tr>
            <th>序号</th>
            <th>ip</th>
            <th>登录名</th>
            <th>密码</th>
            <th>创建时间</th>
            <th>过期时间</th>
            <th>是否可用</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of userVpnList let i= index">
            <td>{{i+1}}</td>
            <td>{{data.ip}}</td>
            <td>{{data.loginName}}</td>
            <td>{{data.password}}</td>
            <td>{{data.createTime | date :'yyyy-MM-dd hh:mm:ss'}}</td>
            <td>{{data.overdueTime | date :'yyyy-MM-dd hh:mm:ss'}}</td>
            <td>{{data.state==2102?"不可以":"可用"}}</td>
            <td>
              <button *ngIf="data.state==2101" nz-popconfirm nz-button nzTitle="您确定要删除吗?" (nzOnConfirm)="del(data)" (nzOnCancel)="cancel()">取消关联</button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  
    <div class="add">
      <h2>绑定vpn</h2>
      <nz-select style="width: 120px;" [(ngModel)]="vpnRelation.vpnId" nzAllowClear nzPlaceHolder="Choose">
        <nz-option *ngFor="let item of vpnList" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
      </nz-select>
      <nz-date-picker [(ngModel)]="vpnRelation.overdueTime" nzShowTime></nz-date-picker>
      <button (click)="add()" style="float: right;" nz-button nzType="default">保存</button>
    </div>
  </div>
</div>