<div class="add-box">
  <div class="heard">
    <div>
      <nz-breadcrumb>
        <nz-breadcrumb-item>
          <a [routerLink]="['../']">vps管理</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <span class="span">{{title}}</span>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
    </div>
  </div>
  <div class="form-box">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>名称</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input appTrim nz-input id="name" formControlName="name" placeholder="name">
          <nz-form-explain *ngIf="validateForm.get('name').dirty && validateForm.get('name').errors">填写分组</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="ip" nzRequired>Ip</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input appTrim nz-input id="ip" formControlName="ip" placeholder="ip">
          <nz-form-explain *ngIf="validateForm.get('ip').dirty && validateForm.get('ip').errors">填写分组</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="address" nzRequired>地址</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input appTrim nz-input id="address" formControlName="address" placeholder="address">
          <nz-form-explain *ngIf="validateForm.get('address').dirty && validateForm.get('address').errors">填写分组</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="overdueTime" nzRequired>到期时间</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-date-picker id="overdueTime" formControlName="overdueTime"  nzShowTime></nz-date-picker>
          <nz-form-explain *ngIf="validateForm.get('overdueTime').dirty && validateForm.get('overdueTime').errors">填写分组</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="description" nzRequired>描述</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input appTrim nz-input id="cdoe" formControlName="description" placeholder="description">
          <nz-form-explain *ngIf="validateForm.get('description').dirty && validateForm.get('description').errors">Please input id!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      

      <nz-form-item nz-row style="margin-bottom:8px;">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary">保存</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>