
<button nz-button nzType="primary" nzLoading><i class="anticon anticon-poweroff"></i>Loading</button>
<button nz-button nzType="primary" nzSize="small" nzLoading>Loading</button>
<!--
<div class="codeList viewBox">
    <div class="zwSearch">
        <div class="right">
            <button (click)="add(0)" nz-button nzType="primary">添加</button>
        </div>
    </div>
    <div class="viewMain">
        <nz-spin *ngIf="loading" [nzTip]="'拼命加载中...'" [nzSize]="'large'">
        </nz-spin>
        <div class="noData" *ngIf="!list.length">
            <span>没有数据...</span>
        </div>
        <table class="zwTable">
            <tr>
                <th>分类</th>
                <th>名称</th>
                <th>码值</th>
                &lt;!&ndash;<th>操作</th>&ndash;&gt;
            </tr>
            <tr *ngFor="let item of list let i=index">
                <td>{{item.typeId}}</td>
                <td>{{item.value}}</td>
                <td>{{item.id}}</td>
                <td style="width: 180px; text-align: center;">
                    <button (click)="del(item.id)" nz-button nzType="danger">
                        <i class="anticon anticon-close"></i>
                        删除
                    </button>
                    <button (click)="add(item)" nz-button nzType="primary">
                        <i class="anticon anticon-edit"></i>
                        编辑
                    </button>
                </td>
            </tr>
        </table>
        <div class="pageBox">
            <nz-pagination [(nzPageIndex)]="pageNum" [nzTotal]="total"
                           [(nzSize)]="pageSize" (click)="getList()"
                           nzShowQuickJumper nzShowTotal>

            </nz-pagination>
        </div>
    </div>
</div>

-->
