<div class="user-index-cpt">
  <div class="div111 clear">
    <div>
      <div class="chaxun">
        <span>姓名</span>
        <input nz-input placeholder="请输入姓名" [(ngModel)]="name">
      </div>
      <div class="chaxun">
        <span>角色</span>
        <input nz-input placeholder="请输入角色" [(ngModel)]="juese">
      </div>
      <div class="chaxun">
        <span>状态</span>
        <input nz-input placeholder="请输入状态" [(ngModel)]="zhungtai">
      </div>
      <div class="chaxun">
        <button nz-button nzType="chaxun">查询</button>
      </div>
    </div>
  </div>
  <div class="shangkuang">
    <span class="span2">用户列表</span>
    <button nz-button nzType="tianjia" class="anniu1" routerLink="./add">添加用户</button>
  </div>

  <div class="waikuang" id="waikuang">
    <div class="neikuang">
      <div class="user-index-cpt">
        <nz-table #basicTable [nzData]="list" [nzFrontPagination]="false" [nzPageIndex]="pageNum" [nzTotal]="totalCount" [nzPageSize]="pageSize"
          (nzPageIndexChange)="getList($event)">
          <thead>
            <tr>
              <th>loginName</th>
              <th>name</th>
              <th>phone</th>
              <th>email</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of list">
              <td>{{data.loginName}}</td>
              <td>{{data.name}}</td>
              <td>{{data.phone}}</td>
              <td>{{data.email}}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>

</div>