<div class="user-index-cpt">
  <div class="div111 clear">
    <div>
      <div class="chaxun">
        <span>登录名</span>
        <input nz-input placeholder="请输入登录名" [(ngModel)]="loginName" (keyup.enter)="buchaxun(loginName,name,juese,zhungtai)">
      </div>
      <div class="chaxun">
        <span>姓名</span>
        <input nz-input placeholder="请输入姓名" [(ngModel)]="name" (keyup.enter)="buchaxun(loginName,name,juese,zhungtai)">
      </div>
      <div class="chaxun">
        <span>电话</span>
        <input nz-input placeholder="请输入电话" [(ngModel)]="juese" (keyup.enter)="buchaxun(loginName,name,juese,zhungtai)">
      </div>
      <div class="chaxun">
        <span>邮箱</span>
        <input nz-input placeholder="请输入邮箱" [(ngModel)]="zhungtai" (keyup.enter)="buchaxun(loginName,name,juese,zhungtai)">
      </div>
      <div class="chaxun">
        <button nz-button nzType="chaxun" (click)="buchaxun(loginName,name,juese,zhungtai)">查询</button>
      </div>
    </div>
  </div>
  <div class="shangkuang">
    <span class="span2">用户列表</span>
    <button nz-button nzType="tianjia" class="anniu1" routerLink="./add">添加用户</button>
  </div>

  <div class="waikuang" id="waikuang">
    <div class="neikuang">
      <div class="user-index-cpt">
        <nz-table #basicTable [nzData]="list" [nzFrontPagination]="false" [nzPageIndex]="pageNum" [nzTotal]="totalCount" [nzPageSize]="pageSize"
          (nzPageIndexChange)="getList($event)">
          <thead>
            <tr>
              <th>登录名</th>
              <th>姓名</th>
              <th>电话</th>
              <th>邮箱</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of list">
              <td>{{data.loginName}}</td>
              <td>{{data.name}}</td>
              <td>{{data.phone}}</td>
              <td>{{data.email}}</td>
              <td>
                <button nz-button [routerLink]="['./update',data.id]">编辑</button>
                <button nz-popconfirm nz-button nzTitle="您确定要删除吗?" (nzOnConfirm)="deldeldel(data.id)" (nzOnCancel)="cancel()">删除</button>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>

</div>