<div class="cropperImg">
  <div class="showImg" *ngIf="!!model"  (click)="showDialog()">
    <p>点击更换图片</p>
    <img  [src]="'/v1/file/img/'+model" alt="">
  </div>
  <input #inputImage  type="file" accept="image/*" style="display: none;"/>
  <div *ngIf="!model" >
    <button (click)="showDialog()" nz-button nzType="primary">选择图片</button>
  </div>

  <!--<nz-modal [nzVisible]="dialog" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel($event)">
    <ng-template #modalTitle>
      裁剪上传
    </ng-template>
    <ng-template #modalContent>

      <img style="width: 100%;" #image src="./assets/images/sky-bg.jpg">
    </ng-template>
    <ng-template #modalFooter>
      <button (click)="save()" nz-button nzType="primary">保存</button>
    </ng-template>
  </nz-modal>-->
</div>
